.PageError {
  height: 100vh;
  background-color: #455d81;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.PageError__title {
    font-size: 24px;
    color: #ffffff;
}